
<% include partials/header %>
<h3 style="text-align: center; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: cadetblue;">Create new campground</h3>
<form method="POST" action="/campgrounds"> 
    <h4 style="margin-left:100px;">Enter Name</h4>
<input type="text" name="name" placeholder="name" style="width: 230px; height:40px; margin-left: 100px;"><br><br>
<h4 style="margin-left: 100px;"">Enter Image Url</h4>
<input type="text" name="image" placeholder="image" style="width: 230px; height:40px; margin-left: 100px"><br><br>
<h4 style="margin-left: 100px;"">Enter description</h4>
<input type="text" name="description" placeholder="description" style="width: 230px; height:40px; margin-left: 100px"><br><br>
<button class="btn btn-primary" style="margin-left: 100px;">SUBMIT!!</button><br><br>

</form>
